*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper-header{
    width: 100%;
    padding: 30px 20px;
    background-color: rgb(0, 145, 255);;
    text-align: center;
}



header .my-photos img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
header .head-container figure{
    display: inline-block;
}
.name-box{
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    width: 700px;
    padding: 30px;
    margin-left: 30px;
}

/* =========== MAIN CONTENT ========== */
main .main-container{
    margin-top: 40px;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}

main .about-skill-container{
    border-bottom: 2px solid #bab8b8;
}

.main-container .card{
    width: 400px;
    height: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    padding: 30px;
    margin: 0 30px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    margin-bottom: 50px;
    
}

/* -------- PORTOFOLIO BOX ------- */

main .portofolio{
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

main .portofolio h2{
    margin-bottom: 30px;
    font-size: 1.8em;
}
main .portofolio .item-card{
    display: inline-block;
    width: 300px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    background-color: #f5f5f5;
    padding: 30px;
    margin: 0 30px;
    
}

/* ========= MY CONTACT =========== */

main .contact{
    text-align: center;
    margin-bottom: 60px;
}
main .contact h2{
    margin-bottom: 30px;
    font-size: 1.8em;
}

main .contact .contact-link .contact-btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px ;
    background-color: rgb(0, 145, 255);
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    text-align: center;
    min-width: 70px;
}

/* ====== FOOTER ======= */
footer{
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 145, 255);
    color: white;
    font-weight: bold;
}