*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}


/* ========== HEADER ========== */
.wrapper-header{
    width: 100%;
    padding: 30px 20px;
    background-color: rgb(0, 145, 255);
}

h1{
    font-size: 2.8em;
}

header .my-photos img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
header .head-container figure, .name-box{
    vertical-align: middle;
    display: inline-block;
}

.head-container{
    margin-left: 80px;
    
}
.name-box{
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    width: 700px;
    padding: 30px;
    margin-left: 50px;
}

.name-box h1,p{
    text-align: center;
}

/* =========== MAIN CONTENT ========== */
main .main-container{
    margin-top: 40px;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}

main .about-skill-container{
    border-bottom: 2px solid #bab8b8;
}

main .about-skill-container .about-card, .skill-card{
    vertical-align: top;
    display: inline-block;
}
.main-container .about-card, .skill-card{
    width: 500px;
    height: 100%;
    background-color: #f5f5f5;
    padding: 30px;
    margin: 0 30px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    margin-bottom: 50px;
    
}

/* Content */
main .main-container .about-skill-container h2{
    font-size: 1.8em;
    margin-bottom: 20px;
}

main .main-container .about-skill-container p{
    text-align: left;
    margin-bottom: 20px;
}

main .main-container .about-skill-container .skill-card ol,ul{
    text-align: left;
}

ol ul, ul ul{
    padding-left: 20px;
    list-style-type: "🔹";
}

/* -------- PORTOFOLIO BOX ------- */

main .portofolio{
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

main .portofolio h2{
    margin-bottom: 30px;
    font-size: 1.8em;
}
main .portofolio .item-card{
    display: inline-block;
    width: 300px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 rgba(0 0 0 / 0.2);
    background-color: #f5f5f5;
    padding: 30px;
    margin: 0 30px;
    
}
main .portofolio .item-card p{
    margin: 30px 0;
}
/* Open Button */
main .portofolio .item-card a{
    text-decoration: none;
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;

}

/* ========= MY CONTACT =========== */

main .contact{
    text-align: center;
    margin-bottom: 60px;
}
main .contact h2{
    margin-bottom: 30px;
    font-size: 1.8em;
}

main .contact .contact-link .contact-btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px ;
    background-color: rgb(0, 145, 255);
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    text-align: center;
    min-width: 70px;
}

/* ====== FOOTER ======= */
footer{
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 145, 255);
    color: white;
    font-weight: bold;
}